body, html {
    width: 100%;
    height: 100%;
    background: url(yes.jpg) bottom left / cover;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

.wrap {
    background: rgba(128, 128, 128, 0.7);
    width: 60%;
    max-height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube {
    width: 70%;
    height: var(--height);
    background: rgba(0, 0, 0, 0.5);
    padding: 3px;
    display: inline-flex;
    flex-wrap: wrap;
}

span {
    width: var(--spanw);
    height: var(--spanh);
    background: #222121;
    display: block;
    margin: 3px;
    cursor: pointer;
    font-size: 7em;
    font-family: Tahoma, sans-serif;
    text-align: center;
    transition: .1s ease-in;
    user-select: none;
    opacity: 0.8;
    text-align: center;
}

.queue {
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    background: var(--queueColor);
    left: 100%;
    font-size: 7em;
    font-family: Tahoma, sans-serif;
    text-align: center;
    transition: .1s ease-in;
    user-select: none;
    border: 3px solid rgba(11, 11, 11, 0.3);
}

.bg {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.9;
    position: absolute;
    z-index: 2;
    
    display: none;
}

.win-parent {
    width: var(--wdt);
    height: 20%;
    background: gray;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translateY(-50%);
    font-size: 2em;
    font-family: Tahoma, sans-serif;
    
    display: none;
    
    --winColor: #71c5ba;
}

.win {
    width: 25%;
    height: 100%;
    left: 37.5%;
    background: var(--winColor);
    position: absolute;
    

    color: azure;
    text-align: center;
    justify-items: center;
    filter: contrast(0.7) brightness(0.8);
    user-select: none;
    border: 2px solid azure;
    box-shadow: 0 0 30px white;
}

@media (min-width:1440px) {
    .wrap {
        height: 100%
    }
}
@media (max-width:1440px) {
    .wrap {
        height: 90%
    }
}
@media (max-width:1200px) {
    .wrap {
        width: 80%;
    }
}
@media (max-width:1152px) {
    .wrap {
        height: 70%
    }
    .queue {
        left: 90%;
    }
}
@media (max-width:960px) {
    .wrap {
        height: 65%
    }
    .queue {
        transform: translate(-50%, -50%);
        left: 50%;
        top: -5%;
    }
    .cube {
        transform: translateY(5%);
    }
    .win-parent {
        font-size: 1.5em;
    }
}
@media (max-width:800px) {
    span, .queue {
        font-size: 5.4em;
    }
    .cube {
        transform: scale(1.1);
    }
    .queue {
        width: 1.5em;
        height: 1.5em;
        top: -10%;
    }
    .wrap {
        height: 70%;
        width: 80%;
    }
    .win {
        width: 50%;
        left: 25%;
    }
}
@media (max-width: 720px) {
    .wrap {
        height: 60%;
    }
    
@media (max-width: 576px) {
    .wrap {
        transform: scale(1.2);
    }
    .queue {
        top: 0;
    }
    span {
        font-size: 3em;
    }
}
    
@media (max-width: 480px) {
    .wrap {
        height: 50%;
        transform: scale(1.3);
    }
    .queue {
        top: -2%;
    }
}
    
@media (max-width: 384px) {
    .wrap {
        height: 40%;
        transform: scale(1.4);
    }
    .queue {
        width: 20hv;
        height: 20hv;
        font-size: 3em;
        top: -10%;
    }
    span {
        font-size: 3em;
    }
}
@media (max-width: 320px) {
    span{
        font-size: 2.6em;
    }   
@media (max-width: 240px) {
    span{
        font-size: 1.5em;
    }
}